/* common css */
.scrolbar1_custom .flex_custom_item_flex span, .top_scroll_bar_custom.center .flex_custom_item_flex span {
    white-space: nowrap;
}
.product-main-slider:not(.slick-initialized) {
  display:flex;
}
.product-main-slider:not(.slick-initialized) .product_images:not(:first-child){
  display:none !important;
}
body {
    display: block;
}
@media (max-width:915px) {
  .desktop_only {
    display:none !important;
  }
}
@media (min-width:915px) {
  .mobile_only {
    display:none !important;
  }
}
.custom_slick_slider:not(.slick-initialized) {
  display:flex;
}

html {
    scroll-behavior: smooth;
}
p {
    margin: unset;
    padding: unset;
}
* {
    padding: 0;
    margin: 0;
    letter-spacing: unset;
    color: unset;
    letter-spacing: 0;
    margin: unset;
    padding: unset;
}
h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5 {
    color: unset;
    letter-spacing: 0;
    margin: unset;
    padding: unset;
}

.left {
    text-align: left;
    justify-content: left;
}
.center {
    text-align: center;
    justify-content: center;
}
.right {
    text-align: right;
    justify-content: right;
}
img, video {
    max-width: 100%;
    display: block;
}

.no_buttons .slick-arrow {
    display: none !important;
}

.same_height_slider .slick-slide {
    height: inherit !important;
}
.same_height_slider .slick-track {
    display: flex;
}
.loading_hk:after {
    content: "";
    width: 100%;
    height: 100%;
    background: url( https://cdn.shopify.com/s/files/1/0789/0570/4766/files/loading.gif?v=1736941696 );
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.loading_hk {
    color: transparent !important;
    position: relative;
}
svg, img, video {
    display: block;
}
* {
    box-sizing: border-box;
}
/* end of common css */



/* font family start */
@font-face {
  font-family: "Satoshi";
  src: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/Satoshi-Light_4f699561-6f81-409f-a5ca-fc98d08e859a.woff?v=1768301874);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Satoshi";
  src: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/Satoshi-LightItalic_06b8afc0-e682-4c7a-b2ab-d9c0b7dc22a9.woff?v=1768301874);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Satoshi";
  src: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/Satoshi-Regular_8830933a-cae6-4d9e-9b51-00ee179b7f6f.woff?v=1768301874);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Satoshi";
  src: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/Satoshi-Italic_f5f8368b-bfb3-4ccd-ae3e-cd9f7c3251d6.woff?v=1768301875);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Satoshi";
  src: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/Satoshi-Medium_84df2e35-d153-43bd-941f-d2f73da29dff.woff?v=1768301874);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Satoshi";
  src: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/Satoshi-MediumItalic_a062caeb-ce26-4653-b466-1a9fb8fa26c1.woff?v=1768301874);
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Satoshi";
  src: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/Satoshi-Bold_92599ddc-b8af-433a-8ee4-54785da85db2.woff?v=1768301874);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Satoshi";
  src: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/Satoshi-BoldItalic_cd91aff8-e481-41c2-a556-7742f700c3f4.woff?v=1768301874);
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Satoshi";
  src: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/Satoshi-Black.woff);
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Satoshi";
  src: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/Satoshi-BlackItalic.woff);
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "Switzer Variable";
  src: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/Switzer-Semibold.woff);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Switzer Variable";
  src: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/Switzer-Bold.woff?v=1768307204);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "NeueHaasUnicaW1G-Regular";
  src: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/AnyConv.com__Neue_Haas_Unica_W1G_Regular.woff);
  font-style: normal;
  font-weight: 400;
}
/* font family end */


body h1, body h2, body h3, body h4, body h5, body h6, .h1 {
  font-family: "Switzer Variable" !important;
}
body, p, a {
  font-family: "Satoshi" !important;
}


/* same css start */
.container_hk {
    width: 1508px;
    max-width: 100%;
    margin: 0px auto;
    padding-left: 50px;
    padding-right: 50px;
}
body .h1 {
    font-size: 46px;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 46px;
    letter-spacing: -0.92px;
    text-transform: capitalize;
}
.custom_hk_button {
    border-radius: 50px;
    background: #971D1C;
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border: 2px solid #971D1C;
    transition: all 0.5s ease;
    cursor: pointer;
}
.custom_hk_button:hover {
    background: transparent;
    color: #971D1C;
}
body .h1 strong {
    font-weight: unset;
    color: #971D1C;
}
.lp_sub_heding {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 15px 0px 40px;
}



@media (max-width:915px) {
.container_hk {
    padding-left: 16px;
    padding-right: 16px;
}    
body .h1 {
    font-size: 34px;
    line-height: 34px;
    letter-spacing: -0.68px;
    text-transform: capitalize;
    width: 328px;
    max-width: 100%;
    margin: 0px auto;
}
.custom_hk_button {
    width: 100%;
    height: 46px;
    font-size: 16px;
}
.custom-flex_item_ad_1, 
.custom-flex_item_ad_2 {
    width: 100%;
}
}
/* same css end */



/* header css start */
.mobile_header {
    display: block !important;
}
a.logo_link {
    text-align: center;
    display: flex;
    justify-content: center;
}
.container.mobile_nav {
    max-width: 100%;
    width: 1508px;
    padding-left: 50px;
    padding-right: 50px;
}
.top_bar_lp_text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}
body .mobile_logo_container img {
    width: 127px;
    max-width: 100%;
}
body .mobile_header {
    box-shadow: unset !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.CP_headerbar_list1 .icons_with_text_item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 10px;
}
body .mobile_header {
    background: #EDE7DD;
}
.mobile_header {
    padding-top: 10px;
    padding-bottom: 10px;
}
body .mobile_logo_container img {
    width: 162px;
}
body .collapse_btn_containter i {
    color: #350004;
}
.mobile_nav_icons_container svg path {
    stroke: #350004;
}



@media (max-width: 915px) {
.container.mobile_nav {
    padding-left: 20px;
    padding-right: 20px;
}
body .mobile_logo_container img {
    width: 100px;
    max-width: 100%;
}
body .mobile_header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.top_bar_lp_text {
    font-size: 14px;
    line-height: 18px;
}
body .mobile_logo_container img {
    width: 91px;
}
.CP_headerbar_list1 .icons_with_text_item {
    font-size: 14px;
}
.CP_headerbar_list1 .icons_with_text_item svg {
    width: 21px;
    height: unset;
}
}
/* header css end */



/* section 1 start */
.CP_section_1 .custom-flex_two_ad {
    align-items: center;
    justify-content: space-between;
}
.CP_section_1 .custom-flex_two_ad .custom-flex_item_ad_2 {
    max-width: 45.81%;
}
.CP_section_1 .custom-flex_two_ad .custom-flex_item_ad_1 {
    max-width: 43%;
}
.CP_section1_rating a {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #350004;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-bottom: 10px;
}
.CP_section1_rating a strong {
    font-weight: 700;
}
.CP_section1_text1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding-top: 25px;
    padding-bottom: 35px;
    width: 430px;
    max-width: 100%;
    margin: 0px auto;
}
.CP_section1_list1 .icons_with_text_flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 14px;
}
.CP_section1_list1 .icons_with_text_flex .icons_with_text_item {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 10px;
}



@media (max-width: 915px) {
.CP_section_1 .custom-flex_two_ad .custom-flex_item_ad_1 {
    max-width: 100%;
}
.CP_section_1 .custom-flex_two_ad .custom-flex_item_ad_2 {
    max-width: 100%;
}
.CP_section1_rating a {
    font-size: 13px;
}
.CP_section1_rating a svg {
    width: 74px;
    height: unset;
}
.CP_section1_text1 {
    font-size: 15px;
    line-height: 18px;
    padding-top: 15px;
    padding-bottom: 25px;
    width: 300px;
}
.CP_section1_list1 .icons_with_text_flex {
    gap: 15px;
}
.CP_section1_list1 .icons_with_text_flex .icons_with_text_item {
    font-size: 13px;
    gap: 8px;
}
.CP_section1_list1 .icons_with_text_flex .icons_with_text_item svg {
    width: 15.721px;
    height: unset;
}
.CP_section1_img {
    width: calc(100% + 32px);
    margin-left: -16px;
    padding-top: 25px;
}
}
/* section 1 end */



/* review section start */
.slick-arrow {
    position: unset;
}
.slider_navigations.center {
    display: flex;
    align-items: center;
    gap: 79px;
    padding-top: 40px;
}
ul.slick-dots {
    display: flex;
    gap: 12px;
    align-items: center;
}
ul.slick-dots li {
    width: 8px;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
ul.slick-dots li button {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
ul.slick-dots li.slick-active button {
    width: 100%;
    height: 100%;
    border-radius: 5.426px;
    background: #350004;
}
ul.slick-dots li.slick-active {
    width: 10px;
    height: 10px;
}
.slick-arrow {
    margin: 0px;
}
.review_slider_custom_slider_new_item_inner {
    padding: 0px 10px;
    height: 100%;
}
.CP_review_section .reviews_center_slider_new {
    margin: 0px -10px;
}
.relative {
    position: relative;
}
.review_slider_custom_slider_new_item_bg.left {
    border-radius: 10px;
    background: #ECE6DD;
    padding: 25px 20px;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review_text_slider_new {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    padding: 20px 0px;
}
.review_name {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.review_name strong {
    color: #971D1C;
    display: block;
}
.review_name img {
    width: 48px;
    gap: unset;
}
.review_slider_tabs_flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.review_slider_tab {
    cursor: pointer;
    border-radius: 20px;
    background: rgba(237, 231, 221, 0.50);
    width: calc(25% - (20px) * 3 / 4);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
}
.review_slider_tab.active {
    background: #49090E;
    color: #FFFFFF;
}



@media (max-width: 915px) {
.lp_sub_heding {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    padding: 14px 0 25px;
}
.CP_review_section .lp_sub_heding {
    width: 255px;
    max-width: 100%;
    margin: 0px auto;
}
.slider_button_custom svg {
    width: 28px;
    height: unset;
}
.slider_navigations.center {
    gap: 37px;
    padding-top: 25px;
}
ul.slick-dots li {
    width: 6px;
    height: 6px;
}
ul.slick-dots {
    gap: 8px;
}
ul.slick-dots li.slick-active {
    width: 8px;
    height: 8px;
}
.review_slider_custom_slider_new_item_bg.left {
    padding: 20px 15px;
}
.review_rating2 svg {
    width: 89px;
    height: unset;
}
.review_text_slider_new {
    font-size: 15px;
    line-height: 18px;
    padding: 15px 0;
}
.review_name {
    font-size: 14px;
}
.review_name strong {
    padding-top: 3px;
}
.review_name img {
    width: 40px;
}
.review_slider_tabs_flex {
    padding-bottom: 20px;
    flex-wrap: wrap;
    gap: 14px 10px;
}
.review_slider_tab {
    width: calc(50% - 5px);
    font-size: 15px;
    line-height: normal;
    min-height: 37px;
}
.CP_number_list1 .icons_with_text_flex .icons_with_text_item .icon_svg_main span {
    display: unset;
}
}



.review_name strong {
    font-weight: unset;
}
/* review section end */



/* makes section start */
.CP_makes_section .custom-flex_two_ad {
    justify-content: space-between;
    align-items: center;
}
.CP_makes_section .custom-flex_two_ad .custom-flex_item_ad_2 {
    max-width: 53%;
}
.CP_makes_section .custom-flex_two_ad .custom-flex_item_ad_1 {
    max-width: 47%;
}
.CP_sub_text,
.two_layers_subheading {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 15px 0px 40px;
}
.CP_makes_list1 .icons_with_text_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.CP_makes_list1 .icons_with_text_flex .icons_with_text_item {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    padding: 15px 20px;
}
.container_hk {
    position: unset;
}
.CP_makes_section {
    position: relative;
}
.CP_makes_img img {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
    object-fit: cover;
    width: 41.9%;
    left: 0px;
}



@media (max-width: 915px) {
.CP_makes_section .custom-flex_two_ad .custom-flex_item_ad_2 {
    max-width: 100%;
    width: 100%;
}
.CP_makes_section .custom-flex_two_ad .custom-flex_item_ad_1 {
    max-width: 100%;
    width: 100%;
}
.CP_makes_img img {
    position: unset;
    width: 100%;
}
.CP_makes_img {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-bottom: -7px;
}
.CP_sub_text, 
.two_layers_subheading {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    padding: 14px 0 25px;
}
.CP_makes_text1 {
    width: 270px;
    max-width: 100%;
    margin: 0px auto;
}
.CP_makes_list1 .icons_with_text_flex .icons_with_text_item {
    font-size: 16px;
    padding: 10px 12px;
    width: 100%;
}
.CP_makes_list1 .icons_with_text_flex .icons_with_text_item svg {
    width: 25px;
    height: unset;
}
}
/* makes section end */



/* number section start */
.CP_number_section .custom-flex_two_ad {
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.CP_number_section .custom-flex_two_ad .custom-flex_item_ad_1 {
    max-width: 53%;
}
.CP_number_section .custom-flex_two_ad .custom-flex_item_ad_2 {
    max-width: 47%;
}
.CP_number_img img {
    width: 645px;
    margin-left: auto;
}
.CP_number_list1 .icons_with_text_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 25px;
}
.CP_number_list1 .icons_with_text_flex .icons_with_text_item {
    width: calc(50% - 12.5px);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.CP_number_list1 .icons_with_text_flex .icons_with_text_item .icon_svg_main {
    color: #971D1C;
    font-family: "Switzer Variable" !important;
    font-size: 70px;
    font-style: italic;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -1.4px;
    text-transform: capitalize;
}



@media (max-width: 915px) {
.CP_number_section .custom-flex_two_ad .custom-flex_item_ad_1 {
    max-width: 100%;
    width: 100%;
}
.CP_number_section .custom-flex_two_ad .custom-flex_item_ad_2 {
    max-width: 100%;
    width: 100%;
}
.CP_number_img {
    width: calc(100% + 32px);
    margin-left: -16px;
}
.CP_number_heading {
    text-align: center;
}
.CP_number_text1 {
    text-align: center;
    max-width: 100%;
    margin: 0px auto -7px;
    width: 290px;
    padding-bottom: 0px;
}
.CP_number_list1 .icons_with_text_flex {
    gap: 20px 14px;
    margin-top: -7px;
    justify-content: space-between;
}
.CP_number_list1 .icons_with_text_flex .icons_with_text_item {
    width: calc(50% - 7px);
    font-size: 15px;
    line-height: 18px;
    gap: 14px;
}
.CP_number_list1 .icons_with_text_flex .icons_with_text_item .icon_svg_main {
    font-size: 60px;
    line-height: 50px;
    letter-spacing: -1.2px;
}
.CP_number_list1 .icons_with_text_flex .icons_with_text_item span {
    width: 153px;
    display: block;
    max-width: 100%;
}
}
/* number section end */



/* nothing section start */
.CP_nothing_section .custom-flex_two_ad {
    justify-content: space-between;
}
.CP_nothing_section .custom-flex_two_ad .custom-flex_item_ad_1 {
    max-width: 47%;
}
.CP_nothing_section .custom-flex_two_ad .custom-flex_item_ad_2 {
    max-width: 43%;
    padding: 80px 0px 0px;
}
.CP_nothing_heading {
    width: 450px;
    margin: 0px auto;
}
.CP_nothing_text1 {
    width: 390px;
    margin: 0px auto;
    max-width: 100%;
}
.CP_nothing_list1 .icons_with_text_item {
    display: flex;
    align-items: center;
    text-align: left;
    border-radius: 10px;
    background: #FFF;
    overflow: hidden;
    gap: 30px;
}
.CP_nothing_list1 .icons_with_text_item img {
    width: 136px;
    max-width: 100%;
}
.CP_nothing_list1 .icons_with_text_item span {
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    width: calc(100% - 166px);
}
.CP_nothing_list1 .icons_with_text_item span p {
    width: 339px;
    max-width: 100%;
}
.CP_nothing_text2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    padding: 40px 0px;
    width: 551px;
    max-width: 100%;
}
.CP_nothing_list2 .icons_with_text_flex {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    padding-top: 30px;
}
.CP_nothing_list2 .icons_with_text_flex .icons_with_text_item {
    width: calc(25% - (14px) * 3 / 4);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-transform: capitalize;
    gap: 12px;
}
.CP_nothing_list2 .icons_with_text_flex .icons_with_text_item img {
    width: 60px;
    margin: 0px auto;
}
.CP_nothing_section {
    position: relative;
}
.trigger_tabs_flex {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    gap: 15px;
    justify-content: center;
    padding-bottom: 30px;
}
.trigger_tabs_item_inner {
    width: calc(33.3% - (15px) * 2 / 3);
}
.trigger_tabs_item {
    border-radius: 100px;
    border: 1px solid #FFFFFF99;
    background: #FFFFFF99;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    transition: all .5s ease;
    color: #350004;
}
.trigger_tabs_item.active {
    background: #49090E;
    font-weight: unset;
    color: #FFFFFF;
}



@media (max-width: 915px) {
.CP_nothing_section .custom-flex_two_ad .custom-flex_item_ad_1 {
    max-width: 100%;
    width: 100%;
}
.CP_nothing_section .custom-flex_two_ad .custom-flex_item_ad_2 {
    max-width: 100%;
    width: 100%;
}
.CP_nothing_section .custom-flex_two_ad {
    flex-direction: column-reverse;
}
.CP_nothing_section .custom-flex_two_ad .custom-flex_item_ad_2 {
    padding: 0px 0 0;
}
.CP_nothing_text1 {
    width: 290px;
}
.CP_nothing_list1 .icons_with_text_item {
    gap: 0px;
}
.CP_nothing_list1 .icons_with_text_item img {
    width: 100px;
}
.CP_nothing_list1 .icons_with_text_item span {
    font-size: 15px;
    line-height: 18px;
    width: calc(100% - 100px);
    padding: 0px 18px 0px 10px;
}
.CP_nothing_text2 {
    font-size: 14px;
    line-height: 18px;
    padding: 30px 0;
    width: 100%;
    max-width: 100%;
}
.CP_nothing_img {
    width: calc(100% + 32px);
    margin-left: -16px;
    padding-top: 11px;
}
.CP_nothing_list2 .icons_with_text_flex {
    padding-top: 10px;
}
.CP_nothing_list2 .icons_with_text_flex .icons_with_text_item img {
    width: 50px;
}
.CP_nothing_list2 .icons_with_text_flex .icons_with_text_item {
    width: calc(25% - 7px);
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    gap: 8px;
}
.CP_nothing_list2 .icons_with_text_flex .icons_with_text_item span {
    display: block;
    width: 70px;
    margin: 0px auto;
    max-width: 100%;
}
.trigger_tabs_flex {
    gap: 14px;
    padding-bottom: 20px;
    padding-top: 5px;
}
.trigger_tabs_item_inner {
    width: calc(33.3% - (14px) * 2 / 3);
}
.trigger_tabs_item {
    font-size: 14px;
    padding: 7.5px;
}
}
/* nothing section end */



/* support section start */
.CP_support_list1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.CP_support_list1 .icons_with_text_flex {
    width: calc(25% - (20px) * 3 / 4);
    position: relative;
}
.CP_support_list1 .icons_with_text_flex .icons_with_text_item_text {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #49090E;
    padding: 10px 20px;
    font-size: 18px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.CP_support_list1 .icons_with_text_flex .icons_with_text_item_text:after {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/CP_support_arrowdown.webp);
    width: 26px;
    height: 26px;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.CP_support_list1 .icons_with_text_flex .icons_with_text_item_title {
    color: #350004;
    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    background: #ece6dd;
    padding: 25px 20px;
    text-align: left;
    display: none;
}
.CP_support_list1 .icons_with_text_flex {
    width: calc(25% - 15px);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.CP_support_list1 .icons_with_text_flex .icons_with_text_item_text.active {
    background: #ECE6DD;
    color: #350004;
}
.CP_support_list1 .icons_with_text_flex .icons_with_text_item_text:after {
    transition: all 0.5s ease;
}
.CP_support_list1 .icons_with_text_flex .icons_with_text_item_text.active:after {
    background-image: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/CP_support_arrowup.webp);
}



@media (max-width: 915px) {
.CP_support_text1 {
    width: 290px;
    max-width: 100%;
    margin: 0px auto;
}
.CP_support_list1 {
    gap: 10px;
    flex-wrap: wrap;
}
.CP_support_list1 .icons_with_text_flex {
    width: calc(50% - 5px);
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}
.CP_support_list1 .icons_with_text_flex .icons_with_text_item_text {
    padding: 7px 10px;
    font-size: 14px;
    gap: 10px;
}
.CP_support_list1 .icons_with_text_flex .icons_with_text_item_text:after {
    width: 21px;
    height: 21px;
}
.CP_support_list1 .icons_with_text_flex .icons_with_text_item_title {
    color: #350004;
    font-size: 13px;
    line-height: 16px;
    border-radius: 3px;
    padding: 15px 10px;
}
}
/* support section end */



/* table section start */
.CP_table_section .custom-flex_two_ad {
    justify-content: space-between;
    width: 860px;
    max-width: 100%;
    margin: 0px auto;
    padding-top: 70px;
}
.CP_table_section .custom-flex_two_ad .custom-flex_item_ad_1, 
.CP_table_section .custom-flex_two_ad .custom-flex_item_ad_2 {
    max-width: calc(50% - 10px);
    border-radius: 5px;
    position: relative;
}
.CP_table_section .custom-flex_two_ad .custom-flex_item_ad_1 {
    background: #971D1C;
    padding-bottom: 20px;
    color: #fff;
}
.CP_table_section .custom-flex_two_ad .custom-flex_item_ad_2 {
    background: #F4EFE9;
    padding-bottom: 20px;
}
.CP_table_logo img {
    width: 109px;
    max-width: 100%;
    margin-top: 23px;
    margin-left: 30px;
    margin-bottom: 16px;
}
.CP_table_img img {
    width: 69px;
    position: absolute;
    top: -69px;
    right: 30px;
}
.CP_table_text1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    padding: 26px 30px 20px;
}
.CP_table_list .icons_with_text_flex {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.CP_table_list .icons_with_text_flex .icons_with_text_item {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px 30px;
    border-top: 1px solid #FFFFFF26;
}
.CP_table_list2 .icons_with_text_flex .icons_with_text_item {
    border-color: #00133433;
}
.CP_table_img2 img {
    top: -57px;
}



@media (max-width: 915px) {
.CP_table_section .two_layers_heading {
    width: 300px;
}
.CP_table_section .two_layers_subheading {
    width: 250px;
    max-width: 100%;
    margin: 0px auto;
}
.CP_table_section .custom-flex_two_ad {
    width: 100%;
    margin: 0 auto;
    padding-top: 45px;
}
.CP_table_img img {
    width: 49px;
    top: -55px;
    right: 8px;
}
.CP_table_logo img {
    width: 71px;
    max-width: 100%;
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 12px;
}
.CP_table_text1 {
    font-size: 14px;
    line-height: 16px;
    padding: 14px 10px 14px;
}
.CP_table_img2 img {
    top: -37px;
    width: 45px;
}
.CP_table_list .icons_with_text_flex .icons_with_text_item {
    font-size: 13px;
    gap: 7px;
    padding: 15px 8px;
}
.CP_table_list .icons_with_text_flex .icons_with_text_item svg {
    width: 15.13px;
    height: unset;
}
.CP_table_list .icons_with_text_flex .icons_with_text_item span {
    width: 115px;
    max-width: 100%;
}
.CP_table_section .custom-flex_two_ad .custom-flex_item_ad_2,
.CP_table_section .custom-flex_two_ad .custom-flex_item_ad_1 {
    padding-bottom: 5px;
}
}
/* table section end */



/* product section start */
.landing_product_flex {
    display: flex;
    justify-content: space-between;
}
.landing_product_media {
    width: 49.77%;
}
.landing_product_info.left {
    width: 45.35%;
}
.landing_product_media_inner_flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 25px;
}
.product_text {
    padding-bottom: 50px;
}
.relative.relative_main_slider .product_image_wrapper {
    padding: 0px 10px;
}
.relative.relative_main_slider .slick-list.draggable {
    margin: 0px -10px;
}
.relative.relative_main_slider .product_image_wrapper img {
    border-radius: 6.402px;
    cursor: grab;
}
.relative.thumb_slider_relative.stop_scroll_thumb .product_thumb_wrapper {
    padding: 0px 6px;
}
.relative.thumb_slider_relative.stop_scroll_thumb .product_thumb_wrapper img {
    border-radius: 5px;
    opacity: 0.5;
    cursor: pointer;
}
.relative.thumb_slider_relative.stop_scroll_thumb .product_thumb_wrapper.slick-slide.slick-current img {
    opacity: 1;
}
.relative.thumb_slider_relative.stop_scroll_thumb .slick-list.draggable {
    width: 559px;
    max-width: 100%;
    margin: 0px auto;
}
.relative.thumb_slider_relative.stop_scroll_thumb .slider_navigations.center {
    display: flex;
    align-items: center;
    gap: 79px;
    padding-top: 0px;
}
.relative.thumb_slider_relative.stop_scroll_thumb .slider_button_custom {
    position: absolute;
    top: 37% !important;
    left: 0px;
}
.relative.thumb_slider_relative.stop_scroll_thumb .custom_prev {
    left: unset;
    right: 0px;
}
.pdt_rating a {
    color: #350004;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 12px;
}
.pdt_rating a strong {
    font-weight: unset;
    text-decoration: underline;
}
body .pdt_heading.h1 {
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.68px;
    text-transform: capitalize;
    padding-bottom: 16px;
}
.pdt_text p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.quantity_flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 34px 0px;
}
.quantity_item {
    cursor: pointer;
    opacity: .5;
    border-radius: 3px;
    background: #ece6ddcc;
    width: calc(50% - 10px);
    padding-top: 37px;
    padding-bottom: 67px;
    position: relative;
}
.quantity_item.active {
    opacity: 1;
}
.quantity_left img {
    width: auto;
    position: absolute;
    height: 67px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    bottom: 0px;
}
.quantity_title {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-transform: capitalize;
}
.quantity_title strong {
    color: #AE0303;
    font-weight: unset;
}
.quantity_title_middle {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
    padding-top: 7px;
}
.quantity_price {
    color: #971D1C;
    text-align: center;
    font-family: Satoshi;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    gap: 12px;
    /* margin-bottom: -60px; */
    position: absolute;
    left: 0px;
    right: 0px;
    top: calc(100% + 10px);
}
.quantity_price s {
    color: rgba(53, 0, 4, 0.50);
    font-weight: 500;
    font-size: 17px;
}
.quantity_badge {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    border-radius: 3px 3px 0 0;
    background: #49090E;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    min-height: 25px;
}
span.stock_outer {
    width: 18px;
    height: 18px;
    background: #73d55f52;
    border-radius: 50%;
    animation: order 1.5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
span.stock_inner {
    width: 9px;
    height: 9px;
    background: #52DC17;
    border-radius: 50%;
    display: flex;
}
@keyframes order {
  0% {
  background: transparent;
  }
  50% {
  background: #73d55f52;
  }
  100% {
  background: transparent;
  }
}
.in_stock_text {
    justify-content: flex-start;
}
.in_stock_text {
    display: flex;
    color: unset;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: flex-start;
    gap: 5px;
    border-radius: unset;
    background: unset;
    padding: 32px 0 20px;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    letter-spacing: -.364px;
    justify-content: center;
}
.in_stock_text p span {
    padding-left: 3px;
}
.in_stock_text strong {
    font-weight: 500;
    color: #425F02;
}
.in_stock_text p span {
    padding-left: 3px;
    font-weight: 700;
    text-decoration: underline;
}
span.custom_checkout_button s {
    font-weight: 400;
    opacity: 0.5;
}
.pdp_pdt_list1 .icon_with_text_item {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 14px;
    gap: 10px;
}
.pdt_list_icons {
    display: flex;
    justify-content: space-between;
    padding: 34px 0px;
    gap: 10px;
}
.pdt_list_icons .icons_with_text_flex {
    width: calc(25% - (10px) * 3 / 4);
}
.pdt_list_icons .icons_with_text_flex .icons_with_text_item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-transform: capitalize;
    gap: 12px;
}
.pdt_list_icons .icons_with_text_flex .icons_with_text_item img {
    width: 60px;
    height: 60px;
    margin: 0px auto;
}
.faq_product {
    border-radius: 5px;
    background: rgba(237, 231, 221, 0.40);
    margin-bottom: 15px;
}
.question_product {
    padding: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question_product:after {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/CP_pdt_faq.webp);
    width: 23px;
    height: 23px;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-size: contain;
    transition: all 0.5s ease;
}
.question_product.active:after {
    transform: rotate(-180deg);
}
.answer_product {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 0px 20px 20px;
    margin-top: -7px;
}
.answer_product strong {
    font-weight: 500;
}
.answer_product ul {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    gap: 19px;
}



@media (max-width: 915px) {
body .product_title_heading {
    font-size: 33px;
}
.product_text {
    padding-bottom: 25px;
    font-size: 14px;
    width: 270px;
    max-width: 100%;
    margin: 0px auto;
}
.landing_product_flex {
    flex-direction: column;
    gap: 23px;
}
.landing_product_media {
    width: 100%;
}
.landing_product_info.left {
    width: 100%;
}
.relative.thumb_slider_relative.stop_scroll_thumb .slick-list.draggable {
    width: 81%;
    max-width: 100%;
    margin: 0 auto;
}
.relative.thumb_slider_relative.stop_scroll_thumb .product_thumb_wrapper {
    padding: 0 4px;
}
.relative.thumb_slider_relative.stop_scroll_thumb .product_thumb_wrapper img {
    border-radius: 3px;
}
.landing_product_media_inner_flex {
    gap: 10px;
}
.relative.thumb_slider_relative.stop_scroll_thumb .slider_button_custom svg {
    width: 20px;
    height: unset;
}
.relative.relative_main_slider .product_image_wrapper img {
    border-radius: 3px;
}
.pdt_rating a {
    font-size: 13px;
    gap: 8px;
    padding-bottom: 9px;
}
.pdt_rating a svg {
    width: 74px;
    height: unset;
}
body .pdt_heading.h1 {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.6px;
    margin: 0px;
}
.pdt_text p {
    font-size: 14px;
    line-height: 16px;
}
.quantity_flex {
    gap: 10px;
    padding: 24px 0;
}
.quantity_item {
    cursor: pointer;
    opacity: .5;
    border-radius: 3px;
    background: #ece6ddcc;
    width: calc(50% - 5px);
    padding-top: 30px;
    padding-bottom: 79px;
    position: relative;
}
.quantity_left img {
    height: 61px;
}
.quantity_title {
    font-size: 14px;
    line-height: 18px;
}
.quantity_title_middle {
    font-size: 12px;
    line-height: 14px;
    padding-top: 7px;
}
.quantity_badge {
    font-size: 12px;
    line-height: normal;
    min-height: 20px;
}
.CP_table_section .custom-flex_two_ad .custom-flex_item_ad_1, .CP_table_section .custom-flex_two_ad .custom-flex_item_ad_2 {
    max-width: calc(50% - 7px);
}
.quantity_price {
    font-size: 14px;
    line-height: 18px;
    gap: 7px;
}
.quantity_price s {
    font-size: 13px;
}
.in_stock_text {
    font-size: 13px;
    gap: 5px;
    padding: 30px 0 14px;
}
span.stock_outer {
    width: 15px;
    height: 15px;
}
span.stock_inner {
    width: 7px;
    height: 7px;
}
.pdp_pdt_list1 .icon_with_text_item {
    font-size: 13px;
    padding-top: 14px;
    gap: 7px;
}
.pdp_pdt_list1 .icon_with_text_item svg {
    width: 15px;
    height: unset;
}
.pdt_list_icons .icons_with_text_flex {
    width: calc(25% - 5px);
}

.pdt_list_icons .icons_with_text_flex .icons_with_text_item {
    font-size: 14px;
    line-height: 18px;
    gap: 8px;
}
.pdt_list_icons .icons_with_text_flex .icons_with_text_item img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.pdt_list_icons .icons_with_text_flex .icons_with_text_item .icons_with_text_item_text {
    width: 70px;
    max-width: 100%;
    margin: 0px auto;
}
.faq_product {
    margin-bottom: 10px;
}
.question_product {
    padding: 15px;
    font-size: 16px;
}
.question_product:after {
    width: 21px;
    height: 21px;
}
.answer_product {
    font-size: 14px;
    line-height: 18px;
    padding: 0 15px 15px;
    margin-top: -5px;
}
.answer_product ul {
    width: 250px;
}
}
/* product section end */



/* review 2 start */
@media (max-width: 915px) {
body .CP_review2_heading {
    width: 300px;
}
}
/* review 2 ends */



/* faq section start */
.faq_center {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-top: 40px;
}
.faq_center_main {
    width: calc(50% - 30px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.faq_slider_item {
    border-radius: 5px;
    background: #F7F5F1;
}
.faq_question {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq_question:after {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0296/4848/6460/files/CP_pdt_faq.webp);
    width: 23px;
    height: 23px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
}
.faq_question.active:after {
    transform: rotate(-180deg);
}
.faq_answer {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 0px 20px 20px;
    margin-top: -5px;
}
.faq_slider_item:has(.faq_question.active) {
    background: #FFFFFF;
}
.faq_answer strong {
    font-weight: 500;
}



@media (max-width: 915px) {
.faq_center {
    gap: 10px;
    padding-top: 25px;
    flex-direction: column;
}
.faq_center_main {
    width: 100%;
}
.faq_question:after {
    width: 19px;
    height: 19px;
    min-width: 19px;
}
.faq_question {
    font-size: 16px;
    padding: 15px;
}
.faq_question span {
    display: block;
    width: 270px;
    max-width: 100%;
}
.faq_answer {
    font-size: 14px;
    line-height: 18px;
    padding: 0 15px 15px;
    margin-top: -3px;
}
}
/* faq section ends */



/* footer section start */
.desk_header, .footer, .copyright_footer {
    display: none !important;
}
.lpnew_footer_section .richtext_blocks_new.left {
    display: flex;
    flex-wrap: wrap;
}
.lpfooter_logo, .footer_text1 {
    width: 50%;
    padding-bottom: 60px;
}
.lpfooter_logo img {
    width: 283px;
    height: unset;
}
.footer_text1 {
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
}
.footer_text1 p {
    width: 431px;
    max-width: 100%;
    margin-left: auto;
    padding-top: 30px;
}
.footer_join {
    width: 30%;
}
.footer_join p strong {
    font-size: 28px;
    line-height: 28px;
    padding-bottom: 20px;
    display: block;
    font-weight: 700;
    font-family: Satoshi !important;
}
.footer_menu p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-family: Satoshi !important;
}
.footer_menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 15px;
    padding-top: 15px;
    margin-bottom: 0px;
}
.footer_menu ul li a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}
.footer_menu_3 ul:nth-child(3) {
    flex-direction: row;
}
.footer_menu {
    width: 26%;
}
.footer_menu_3 {
    width: 18%;
}
.field_lp {
    position: relative;
}
.field_lp input {
    border: 1px solid rgba(235, 167, 1, 1);
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    min-height: 60px;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    padding: 0px 20px;
    box-shadow: unset !important;
}
.field_lp input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
button#Subscribe {
    width: 60px;
    min-width: 60px;
    padding: 0px;
    border-color: rgba(235, 167, 1, 1);
    background: rgba(235, 167, 1, 1);
    position: absolute;
    top: 0px;
    right: 0px;
}
button#Subscribe:hover {
    background: transparent;
}
button#Subscribe:hover svg path {
    stroke: rgba(235, 167, 1, 1);
}
.copyright_lp {
    text-align: right;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    padding-bottom: 2px;
    padding-right: 7px;
}
.payments_lp img {
    width: 280px;
    max-width: 100%;
    margin-left: auto;
    transform: translate(14px, 0px);
}
.bottom_copyright {
    padding-top: 75px;
}
button#Subscribe {
    width: 109px;
    min-width: unset;
    padding: 0;
    border-color: #971D1C;
    background: #971D1C;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    padding: 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    position: unset;
}
button#Subscribe:hover {
    border-color: ##ff !important;
    background: #ff !important;
    color: #fff;
}
.field_lp input {
    border: 1px solid #FFFFFF;
    width: 100%;
    background: #fff;
    border-radius: 30px;
    min-height: 50px;
    font-size: 18px;
    line-height: 18px;
    color: #350004;
    padding: 0 20px;
    box-shadow: unset !important;
    width: calc(100% - 117px);
}
.field_lp input::placeholder {
    color: #350004;
}
.field_lp {
    display: flex;
    justify-content: space-between;
}



@media (max-width: 915px) {
.lpfooter_logo, .footer_text1 {
    width: 100%;
    padding-bottom: 20px;
}
.footer_text1 {
    font-size: 16px;
    line-height: 18px;
}
.footer_text1 p {
    width: 100%;
    max-width: 100%;
    padding-top: 0px;
}
.lpfooter_logo img {
    width: 212px;
    height: unset;
    margin: 0px auto;
}
.footer_menu {
    width: 100%;
}
.footer_menu_3 {
    width: 100%;
}
.footer_join {
    width: 100%;
    order: 3;
}
.footer_menu_3 {
    order: 4;
}
.footer_menu_2 {
    order: 6;
}
.footer_menu_1 {
    order: 5;
}
.lpnew_copy_brand {
    width: 100%;
    order: 7;
}
.lpnew_copy_brand .icon_with_text_item {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.6);
    gap: 2px;
}
.lpnew_copy_brand .icon_with_text_item img {
    width: 280px;
    margin: 0px auto;
    max-width: 100%;
}
.footer_menu {
    padding-bottom: 30px;
}
.footer_text1 {
    padding-bottom: 30px;
}
.footer_join p strong {
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 15px;
}
.footer_menu p {
    font-size: 20px;
    line-height: 22px;
}
.footer_menu ul li a {
    font-size: 16px;
    line-height: 18px;
}
.bottom_copyright {
    display: none;
}
form#contact_form {
    width: 100%;
    margin-bottom: 30px;
}
.field_lp input {
    min-height: 50px;
    font-size: 13px;
    line-height: 16px;
    padding: 0 17px;
}
button#Subscribe {
    width: 50px;
    min-width: 50px;
}
button#Subscribe svg {
    height: 14px;
    width: auto;
}
.lpnew_number_section {
    border-bottom: unset;
}
button#Subscribe {
    width: 98px;
    min-width: 46px;
    height: 46px;
    font-size: 16px;
}
.field_lp input {
    width: calc(100% - 109px);
}
.field_lp input {
    min-height: 46px;
    font-size: 13px;
    line-height: normal;
    padding: 0 20px;
}
}
/* footer section end */



/* zoom */
@media (max-width: 1600px) and (min-width: 1400px) {
body {
    zoom: 90%;
}
}
 
 
@media (max-width: 1400px) and (min-width: 1100px) {
body {
    zoom: 80%;
}
}
 
 
@media (max-width: 1100px) and (min-width: 915px) {
body {
    zoom: 65%;
}
}

/* sticky CTA */
.custom_sticky_bottom {
    display: block !important;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #350004;
    background: #F6F3EE;
    padding: 15px 0;
    transform: translateY(100%);
    transition: all .5s ease;
    opacity: 0;
    z-index: 9;
}
.custom_sticky_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.custom_sticky_flex_left {
    display: flex;
    align-items: center;
    gap: 20px;
}
.custom_sticky_flex_image img {
    border-radius: 0.74px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.custom_sticky_bottom.active {
    opacity: 1;
    transform: unset;
}
.pdp_sticky_title {
    color: #350004;
    font-family: "Switzer Variable";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: capitalize;
}
.custom_sticky_flex-right {
    width: 600px;
    max-width: 50%;
}
.rich-text__text.stikcy_title {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: #350004;
    gap: 9px;
    padding-top: 14px;
}

@media (max-width:915px){
.custom_sticky_flex {
    flex-direction: column-reverse;
}
.custom_sticky_flex-right {
    max-width: 100%;
    width: 100%;
}
.custom_sticky_bottom {
    padding: 14px 0;
}
.rich-text__text.stikcy_title svg {
    width: 13px;
    height: auto;
}
.rich-text__text.stikcy_title {
    font-size: 13px;
    line-height: normal;
    padding-top: 10px;
    gap: 8px;
}

}
/* certficates popup */
.popup_main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.popup_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .4;
    cursor: pointer;
}
.popup_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.popup_container {
    position: relative;
    padding: 60px 40px 40px 40px;
    width: 810px;
    max-width: 100%;
    border-radius: 2px;
    background: #FFF;
}
.popup_close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.popup_image {
    padding: 0 15px;
}
.popup_images {
    margin-left: -15px;
    margin-right: -15px;
}

@media (max-width:915px){
.popup_inner {
    padding: 16px;
}
.popup_container {
    width: 100%;
}
.popup_container {
    padding: 40px 15px 20px;
}
.popup_image {
    padding: 0 7.5px;
}
.popup_images {
    margin-left: -7.5px;
    margin-right: -15px;
}
.popup_images .slick-list {
    padding-right: 63px;
}
.popup_container .slider_navigations.center {
    padding-top: 20px;
}
.popup_close {
    top: 10px;
    right: 10px;
}
.popup_container .slick-disabled {
    opacity: .3;
    cursor: no-drop;
}
}


/* final touchups */
.shopify-section-group-header_group_pdp:has(header) {
    position: sticky;
    top: 0;
    z-index: 9;
}
.tab_title {
    text-transform: capitalize;
}
.CP_support_list1 .icons_with_text_flex .icons_with_text_item_title {
    top: unset;
    height: 100%;
}

@media (min-width:915px) {
.landing_product_media_inner {
    position: sticky;
    top: 80px;
}
.CP_nothing_img {
    margin-left: calc(-50vw + 100%);
}
}


@media (max-width: 1600px) and (min-width: 1400px) {
.CP_nothing_img {
    zoom: 104%;
}
}
 
 
@media (max-width: 1400px) and (min-width: 1100px) {
.CP_nothing_img {
    zoom: 117%;
}
}
 
 
@media (max-width: 1100px) and (min-width: 915px) {
.CP_nothing_img {
    zoom: 143%;
}
}