/* why css start */
.iron_ing_section .slider_navigations.center {
    display: none !important;
}



@media (min-width: 915px) {
.iron_why_list1 .icons_with_text_flex .icons_with_text_item p {
    width: 234px;
    max-width: 100%;
}
.iron_ing_section .review_slider_custom_slider_new_item_bg.left {
    aspect-ratio: 265 / 220;
}
}



@media (max-width: 915px) {
.iron_why_list1 .icons_with_text_flex .icons_with_text_item p {
    width: 164px;
}
.iron_why_list1 .icons_with_text_flex .icons_with_text_item:nth-child(3) p {
    width: 160px;
}
.iron_ing_section .same_height_slider .review_slider_custom_slider_new_item:last-child .review_slider_custom_slider_new_item_bg.left {
    aspect-ratio: 330 / 140;
}
.iron_ing_section .same_height_slider .review_slider_custom_slider_new_item:last-child {
    width: 100%;
}

}
/* why css end */



/* number css start */
@media (max-width: 915px) {
body .iron_number_section .h1 {
    width: 279px;
}
.iron_number_section .two_layers_subheading {
    width: 300px;
}
}
/* number css end */



/* video css start */
@media (max-width: 915px) {
.video_slider_subheading {
    width: 300px;
}
}
/* video css end */



/* table css start */
@media (max-width: 915px) {
body .iron_table_section .h1 {
    width: 249px;
}
}
/* table css end */